body{
  color: #333333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 auto;
  width: 940px;
}

p{
  text-align: left;
  letter-spacing: 3px;
  word-spacing: 3px;
  text-indent: 15px;
  padding: 0 45px;
}

h1{
  background-image: url(../img/sobre-background.jpg);
  border: 1px solid rgb(22, 167, 94);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

h2{
  border-bottom: 2px solid #333333;
  margin-top: 30px;
}

figure{
  background: #F2EDED;
  border: 1px solid grey;
  text-align: center;
}

figcaption{
  font-style: italic;
  margin-top: 10px;
}

img{
  padding: 15px;
  margin: 30px;
}